.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
}

.spinner {
  border-style: solid;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

.small {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.medium {
  width: 24px;
  height: 24px;
  border-width: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
